.card-stats {
    .statistics {
        position: relative;
        text-align: center;
        padding: 2px 0;
        .title {
            margin-bottom: 0
        }
        .stats-title {
            margin-bottom: 5px;
            color: #9a9a9a;
            font-weight: 500
        }
    }
    .icon {
        display: inline-block;
        vertical-align: top;
        margin: 0 15px
    }
    .stats-information {
        display: inline-block;
        margin-bottom: 15px;
        .stats-text {
            font-size: 29px
        }
        .stats-details {
            display: block;
            color: #888
        }
    }
    .dots {
        text-align: right;
        .dot {
            background-color: #2c2c2c;
            height: 3px;
            width: 3px;
            border-radius: 50%;
            display: inline-block
        }
    }
}

.card-stats .statistics.statistics-horizontal,
.card-stats .statistics.statistics-horizontal .info-title {
    padding: 0
}

.card-stats [class*=col-] .statistics:after {
    position: absolute;
    right: 0;
    top: 20px;
    width: 1px;
    height: calc(100% - 40px);
    content: "";
    background: #ddd
}

.card-stats [class*=col-]:last-child .statistics:after {
    display: none
}

.info-horizontal {
    text-align: left!important
}

.info .info-title {
    margin: 15px 0 5px;
    padding: 0 15px;
    color: #2c2c2c;
    font-weight: 700;
    font-family: Montserrat;
    text-shadow: 2px 1px 2px #bbbbbb;
}