<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <div class="navbar-toggle">
                <button type="button" class="navbar-toggler" (click)="sidebarToggle()">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <a class="navbar-brand">{{getTitle()}}</a>
        </div>
        <button class="navbar-toggler" type="button" (click)="collapse()" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="collapseExample" [ngbCollapse]="isCollapsed">
            <form name="form" #f="ngForm" class="col-lg-6">
                <div class="input-group no-border" [ngClass]="{'input-group-focus':focus===true}">

                    <input type="text" [(ngModel)]="searchStud" #ser="ngModel" [ngbTypeahead]="search" [inputFormatter]="formatter" [class.is-invalid]="searchFailed" [resultTemplate]="rt" [editable]="false" (selectItem)="selectSearch($event)" autocomplete="off" required
                        minlength="3" (focus)="focus=true" (blur)="focus=searchFailed=false" name="search" id="search" class="form-control pl-3" placeholder="Search... ( Slelct from dropdown )">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <i class="fas {{ searchFailed ? 'fa-exclamation-triangle text-danger' : 'fa-search'}}"></i>
                        </div>
                    </div>
                </div>
                <ng-template #rt let-r="result" let-t="term">
                    <ngb-highlight [result]="r.name" [term]="t">
                    </ngb-highlight>
                    <h5 class="small">
                        <ngb-highlight [result]="r.regno" [term]="t">
                        </ngb-highlight>
                    </h5>
                </ng-template>
            </form>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#pablo">
                        <i class="now-ui-icons media-2_sound-wave"></i>
                        <p>
                            <span class="d-lg-none d-md-block">Stats</span>
                        </p>
                    </a>
                </li>

                <li class="nav-item" ngbDropdown>
                    <a class="nav-link" id="hi" ngbDropdownToggle>
                        <i class="now-ui-icons users_single-02"></i>
                        <p>
                            <span class="d-lg-none d-md-block">Account</span>
                        </p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <a class="dropdown-item" href="#">Settings</a>
                        <a class="dropdown-item" href="#">Account</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" (click)="logOut()" style="cursor: pointer">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>