<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <div class="navbar-toggle">
                <button type="button" class="navbar-toggler" (click)="sidebarToggle()">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <a class="navbar-brand">{{getTitle()}}</a>
        </div>
        <button class="navbar-toggler" type="button" (click)="collapse()" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="collapseExample" [ngbCollapse]="isCollapsed">
            <form name="form" #f="ngForm" class="col-lg-6">
                <div class="input-group no-border">
                    <input type="text" [(ngModel)]="search" #ser="ngModel" autocomplete="off" required minlength="3" (focus)="hasFoc = true" name="search" id="search" class="form-control" placeholder="Search... ( Slelct from dropdown )">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <i class="now-ui-icons ui-1_zoom-bold" *ngIf="ser.invalid"></i>
                            <i class="far fa-times-circle clear" *ngIf="ser.valid" (click)="hasFoc = false; search =''"></i>
                        </div>
                    </div>
                </div>
                <div *ngIf="ser.valid && hasFoc" class="search-box">
                    <div class="search-container">
                        <div routerLinkActive="active" *ngFor="let item of items |search:'reg,name':search" class="search-items">
                            <div *ngIf="item === -1">No matches</div>
                            <div class="search-item">
                                <a [routerLink]="['/notifications']" [queryParams]="{search: item.id}" *ngIf="item !== -1" (click)="hasFoc = false">{{ item.name }}
                                 <span class="small"> RegNo : {{item.reg}}, Batch : {{item.id}}</span>
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#pablo">
                        <i class="now-ui-icons media-2_sound-wave"></i>
                        <p>
                            <span class="d-lg-none d-md-block">Stats</span>
                        </p>
                    </a>
                </li>

                <li class="nav-item" ngbDropdown>
                    <a class="nav-link" id="hi" ngbDropdownToggle>
                        <i class="now-ui-icons users_single-02"></i>
                        <p>
                            <span class="d-lg-none d-md-block">Account</span>
                        </p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <a class="dropdown-item" href="#">Settings</a>
                        <a class="dropdown-item" href="#">Account</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" (click)="logOut()" style="cursor: pointer">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>