/* text shadow */

.text-shadow {
    text-shadow: 2px 2px 2px #ddd;
}

.text-shadow-v0 {
    text-shadow: .3px .4px .3px #bbb;
}

.text-shadow-0 {
    text-shadow: .4px .5px .4px #bbb;
}

.text-shadow-1 {
    text-shadow: 1px 1px 1px #bbb;
}

.text-shadow-2 {
    text-shadow: 0.7px 0.7px 0.7px #ddd;
}

.text-shadow-3 {
    text-shadow: 1px 1px 1px #888;
}

.text-shadow-black {
    text-shadow: 1px 1px 1px #323232;
    font-weight: 300;
}

.text-black {
    color: #212121 !important;
}

h5.description {
    font-size: 18px;
    font-weight: lighter;
}

h4.description {
    font-size: 20px;
    color: #555555
}

a:hover {
    text-decoration: none;
}

a:focus {
    outline: 0px;
}

label {
    font-weight: 400;
    font-size: 15px;
}

.separator {
    width: 88px;
}

.dropdown-menu::-webkit-scrollbar-track {
    background-color: #fff;
}

.dropdown-menu::-webkit-scrollbar {
    width: 2px;
    background-color: #fff;
}

.dropdown-menu::-webkit-scrollbar-thumb {
    background-color: #bbbbbb;
}

.sidebar .nav li,
{
    transition: all 1s ease-in-out;
}

.sidebar .logo a {
    color: #ffffff !important;
}

.font-weight-semibold {
    font-weight: 500 !important;
}