body {
    color: $black-color;
    font-size: $font-size-base;
    font-family: $sans-serif-family;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.main {
    position: relative;
    background: $white-color;
}


/* Animations */

.nav-pills .nav-link,
.navbar,
.nav-tabs .nav-link,
.sidebar .nav a,
.sidebar .nav a i,
.navbar-collapse .navbar-nav .nav-link,
.animation-transition-general,
.tag,
.tag [data-role="remove"],
.animation-transition-general {
    @include transition($general-transition-time, $transition-ease);
}

//transition for dropdown caret
.dropdown-toggle:after,
.bootstrap-switch-label:before,
.caret {
    @include transition($fast-transition-time, $transition-ease);
}

.dropdown-toggle[aria-expanded="true"]:after,
a[data-toggle="collapse"][aria-expanded="true"] .caret,
.card-collapse .card a[data-toggle="collapse"][aria-expanded="true"] i,
.card-collapse .card a[data-toggle="collapse"].expanded i {
    @include rotate-180();
}

.button-bar {
    display: block;
    position: relative;
    width: 22px;
    height: 1px;
    border-radius: 1px;
    background: $white-bg;
    &+.button-bar {
        margin-top: 7px;
    }
    &:nth-child(2) {
        width: 17px;
    }
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

[data-background-color]:not([data-background-color=gray]),
[data-background-color]:not([data-background-color=gray]) .social-description h2,
[data-background-color]:not([data-background-color=gray]) .title,
[data-background-color]:not([data-background-color=gray]) p,
[data-background-color]:not([data-background-color=gray]) p.blockquote,
[data-background-color]:not([data-background-color=gray]) p.blockquote small {
    color: #fff !important;
}

[data-background-color]:not([data-background-color=gray]) .author span,
[data-background-color]:not([data-background-color=gray]) .card-category,
[data-background-color]:not([data-background-color=gray]) .card-pricing.card-plain ul li b,
[data-background-color]:not([data-background-color=gray]) .card-pricing.card-plain ul li i,
[data-background-color]:not([data-background-color=gray]).card-pricing ul li b,
[data-background-color]:not([data-background-color=gray]).card-pricing ul li i {
    color: hsla(0, 0%, 100%, .8)!important
}

[data-background-color]:not([data-background-color=gray]) .card-pricing.card-plain ul li,
[data-background-color]:not([data-background-color=gray]) .stats-title,
[data-background-color]:not([data-background-color=gray]).card-pricing ul li,
[data-background-color]:not([data-background-color=gray]).card a:not(.btn):not(.dropdown-item),
[data-background-color]:not([data-background-color=gray]) .icons-container i,
[data-background-color]:not([data-background-color=gray]) .info.info-horizontal .icon i,
[data-background-color]:not([data-background-color=gray]) a:not(.btn):not(.dropdown-item):not(.card-link),
[data-background-color]:not([data-background-color=gray]) h1,
[data-background-color]:not([data-background-color=gray]) h2,
[data-background-color]:not([data-background-color=gray]) h3,
[data-background-color]:not([data-background-color=gray]) h4,
[data-background-color]:not([data-background-color=gray]) h5,
[data-background-color]:not([data-background-color=gray]) h6 {
    color: #fff !important
}

.description {
    font-size: 1.2em;
}