<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Edit Profile</h5>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <select class="selectpicker" data-style="form-control" title="Choose City" data-size="7" tabindex="-98">
                                  <option disabled=""> Multiple Options</option>
                                  <option value="2">Paris </option>
                                  <option value="3">Bucharest</option>
                                  <option value="4">Rome</option>
                                  <option value="5">New York</option>
                                  <option value="6">Miami </option>
                                  <option value="7">Piatra Neamt</option>
                                  <option value="8">Paris </option>
                                  <option value="9">Bucharest</option>
                                  <option value="10">Rome</option>
                                  <option value="11">New York</option>
                                  <option value="12">Miami </option>
                                  <option value="13">Piatra Neamt</option>
                                  <option value="14">Paris </option>
                                  <option value="15">Bucharest</option>
                                  <option value="16">Rome</option>
                                  <option value="17">New York</option>
                                  <option value="18">Miami </option>
                                  <option value="19">Piatra Neamt</option>
                            </select>
                                </div>
                                <form class="form" (ngSubmit)="upload.form.valid && uploads(span)" #upload="ngForm">

                                    <div class="row">
                                        <div class="col-md-6 pr-1">
                                            <div class="form-group">
                                                <label>No. of pages</label>
                                                <input type="number" class="form-control" [(ngModel)]="span" placeholder="No. of pages" name="span" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Upload</label>
                                                <br>
                                                <button class="btn btn-primary btn-round"> {{file_status}}<i class="fa fa-upload"></i></button>
                                                <input type="file" (change)="fileChange($event)" accept=".pdf" [(ngModel)]="file_upload" class="form-control" placeholder="Home Address" name="file" required>
                                            </div>
                                        </div>
                                    </div>
                                    {{span}}
                                    <button type="submit" [disabled]="upload.form.invalid" class="btn btn-primary btn-round"><i class="fa fa-unlock"></i> Upload file</button>
                                </form>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-user">
                <div class="image">
                    <img src="../assets/img/bg5.jpg" alt="...">
                </div>
                <div class="card-body">
                    <div class="author">
                        <a href="#">
                            <img class="avatar border-gray" src="../assets/img/mike.jpg" alt="...">
                            <h5 class="title">Mike Andrew</h5>
                        </a>
                        <p class="description">
                            michael24
                        </p>
                    </div>
                    <p class="description text-center">
                        "Lamborghini Mercy
                        <br> Your chick she so thirsty
                        <br> I'm in that two seat Lambo"
                    </p>
                </div>
                <hr>
                <div class="button-container">
                    <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-facebook-f"></i>
          </button>
                    <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-twitter"></i>
          </button>
                    <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-google-plus-g"></i>
          </button>
                </div>
            </div>
        </div>
    </div>
</div>